.dailyTasksScreen {
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #1A1A1A;
  display: none;
  visibility: hidden;
  opacity: 0;
  position: relative;
}
