.screen {
  margin: 0 auto;
  padding: 5px 0;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  /* max-height: 404px; */
  /* max-height: 50%; */
  visibility: hidden;
  display: none;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: visible;
  scrollbar-width: none;
  gap: 8px;
  position: relative;
}
