.page {
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  max-height: 950px;
  overflow: hidden;
  color: #fff;
  font-family: 'NunitoSans', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-image: url(../../images/page-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
