.userBar {
  margin: 0;
  padding: 4px 8px;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  background: #F5F3F433;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
