.upgradeCard__level {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 48px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: center;
  border-radius: 24px;
  background: #2F3034;
}
