.dailyTasksScreen__cardField {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow: scroll;
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
