.mainScreen__frame {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  max-height: 50vh;
  gap: 20px;
}

@media screen and (max-width: 669px) {
  .mainScreen__frame {
    max-height: 45vh;
  }
}
