.upgradeCard__costArea {
  margin: 0;
  padding: 0 4px;
  box-sizing: border-box;
  width: 96px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: #0075FF;
}

.upgradeCard__costArea_inactive {
  background: #0E4A90;
}
