.mainScreen__button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50%;
  width: 320px;
  height: 320px;

  background-image: url('../../../images/main-button.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform background-image 0.1s;

}

.mainScreen__button:active {
  transform: scale(0.95);
  background-image: url('../../../images/main-button-pressed.png');
}
